<h1>Sign Up</h1>

<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <p>Email:</p>
  <%= f.email_field :email %>

  <p>Password:</p>
  <%= f.password_field :password %>

  <p>Confirm Password:</p>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Sign Up" %>
<% end %>




